.dzr-grid {
  border-spacing: 0;
}

.dzr-grid,
.dzr-grid td {
  border: solid 1px gray;
}

.dzr-grid td {
  white-space: nowrap;
}

.dzr-grid .col {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}